body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

#gridcontainer {
  min-width: 850px;
  display: grid;
  grid-template:
    "header header"
    "nav nav "
    "main aside"
    "footer footer";
  grid-template-columns: 1fr 25%;
  grid-template-rows: 100px 50px auto 50px;
}

header {
  grid-area: header;
  background-color: #a4c2a5;
  text-shadow: #566246;
  display: flex;
  align-items: center;
}

h1 {
  padding-left: 20px;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  background-color: rgb(223, 223, 223);
}

nav li {
  list-style: none;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(201, 201, 201);
  background-color: #3a3a39;
  text-shadow: rgb(234, 234, 234) 1px 0px 5px;
}

figcaption {
  font-size: smaller;
  text-align: center;
  font-style: italic;
}

main {
  display: flex;
  grid-area: main;
  background-color: white;
  padding-left: 20px;
  justify-content: center;
  flex-direction: column;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

footer {
  grid-area: footer;
  background-color: #f1f2eb;
  font-style: italic;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
