body {
  padding: 0px;
  margin: 0px;
}

$colors: (
  black: #212727,
  darkGray: #313737,
  lightGray: #cbced5,
  accent: #ff3f54,
  darkAccent: #4a1518,
);

/* SASS Functions*/
@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

@mixin centerFlexbox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin heroText() {
  font-size: 6.5em;
  text-shadow: 2px 2px 8px color(accent);
}

h1 {
  @include heroText();
  @include centerFlexbox();
  text-shadow: 2px 2px 8px color(accent);
}

.image-container {
  @include centerFlexbox();
  padding: 10px 0px 0px 0px;

  div {
    text-align: center;
  }

  p {
    font-size: 2em;
    text-shadow: 0px 0px 10px color(darkAccent);
  }
}

.navbar {
  padding: 0px;
}

nav {
  a {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.list-group {
  a {
    font-size: 1.2em;
    font-weight: bold;
  }
}

footer {
  @include centerFlexbox();
  flex-direction: column;
  padding-top: 2%;
}
