/* Variables - key : value pairs*/
//$mycolor : #326582;
$padding: 15px;
$borders: 15px;
$desktop: 840px;

/* SASS Map; key : value paris */
$colors: (
  primary: #326582,
  primary-light: lighten(#326582, 40%),
  primary-dark: darken(#326582, 40%),
  accent: #a1be2f,
);

/* SASS Functions*/
@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

/* Mixin for media query*/
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body,
html {
  height: 100%;
}

/* SASS Code*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;

  /* SASS Nesting */
  #bg {
    clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
    /* Accessing value from $colors map*/
    background-color: color(primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    @include desktop {
      clip-path: polygon(0 0, 73% 0, 52% 100%, 0% 100%);
    }
  }

  header a {
    color: white;
    text-decoration: none;
    padding: $padding;
    display: block;
    text-transform: uppercase;
  }
}

main {
  @include desktop {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "primary card";
  }

  section#card {
    background: #fff;
    padding: $padding + 5;
    // Center card
    margin: 1em auto;
    border-radius: $borders;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 80%;

    @include desktop {
      grid-area: card;
      height: fit-content;
      margin: 1em;
      align-self: center;
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      margin-bottom: 10px;

      span {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: color(primary-light);
        border-radius: 50%;
        margin-right: 10px;
      }

      strong {
        display: inline-block;
        margin-left: max(40px);
        margin-top: 10px;
      }
    }
  }

  section#primary {
    color: #fff;
    padding: $padding;
    text-align: center;

    @include desktop {
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em;
    }

    h1 {
      font-size: 3em;
      margin-top: 10px;
      text-transform: uppercase;

      @include desktop {
        width: 30%;
        font-size: 4em;
        line-height: 0.9em;
      }
    }

    p {
      font-size: 1.4em;
    }

    a {
      color: color(primary-dark);
      border-radius: $borders;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      background-color: color(accent);
      display: block;
      text-align: center;
      margin: 50px auto 0 auto;
      padding: $padding;

      @include desktop {
        display: inline-block;
        padding: $padding $padding * 4;
      }
    }
  }
}
