.container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas:
    "head head head head"
    "section main main main"
    "section main main main"
    "footer footer footer footer";

  grid-template-rows: 310px 1fr 30px;
  grid-template-columns: 300px 1fr;
}

header {
  grid-area: head;
  background-image: url("./images/-backgroundImage.png");
  color: azure;
  font-size: 70px;
  text-shadow: 2px 2px 5px black;
}

section {
  grid-area: section;
  background-color: #efefef;
}

svg {
  font-size: 30px;
  font-weight: 600;
}

p {
  font-size: 22px;
}

q {
  font-size: 16px;
}

main {
  grid-area: main;
  background-color: #efefef;
  flex-direction: column;
}

video {
  width: 700px;
  height: auto;
  padding-top: 10%;
}

footer {
  grid-area: footer;
  background-color: #efefef;
}

.gridItem {
  background-color: #efefef;
  padding: 20px;
  border: 1px solid rgb(38, 38, 38);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
